<!-- login.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Вход в систему</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Авторизация</h1>
        <form method="post" action="{{ url_for('login') }}">
            <input type="text" name="username" placeholder="Имя пользователя" required><br>
            <input type="password" name="password" placeholder="Пароль" required><br>
            <input type="submit" value="Войти">
        </form>
    </div>
</body>
</html>